<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
</head>

<body>
  <div id="app">
    <div class="holder headline">
      Travel App
    </div>
    <button class="primaryButton" id="planTripButton">Plan Next Trip</button>


    <div style="color:red;">test</div>



  </div>

  <div class="addTripModal">
    <div class="modalContent">
      <h1 id="modalHeader">Ready for your next trip?</h1>
      <div id="modalInput">
        <div>
          <h2>Where do you want to go?</h2>
          <form autocomplete="off" action="/action_page.php">
            <div class="autocomplete">
              <input type="text" id="location" placeholder="Search for a location">
            </div>
          </form>
        </div>
        <div>
          <h2>When do you want to go?</h2>
          <div id="datepicker">
            <div>
              <label for="start">Start Date</label>
              <input type="date" id="start" name="trip-start">
            </div>
            <div>
              <label for="end">End Date</label>
              <input type="date" id="end" name="trip-end">
            </div>
          </div>
        </div>

      </div>
      <div id="pic">
        <img src="https://images.wsj.net/im-196106?width=1280&size=1">
      </div>

      <div id="modalbuttons">
        <button class="secondaryButton" id="cancelModal" type="button">Cancel</button>
        <button class="primaryButton" id="confirmModal" type="button">Submit</button>
      </div>
    </div>
  </div>

</body>

</html>