#app {
    display: grid;
    grid-template-areas:
        "hd hd"
        "btn btn"
        "tr tr";
        grid-gap: 8px;
    .headline {
        grid-area: hd;
        font-weight: 900;
    }
    #planTripButton {
        grid-area: btn;
    }
    #mainContent{
        grid-area: tr;
    }

    #trip {
        background: lightblue;
        display: none;
        grid-template-areas:
            "hd hd"
            "img img"
            "dte dte"
            "wth wth"
            "del del";
        width: 100%;
        padding: 5%;
        margin: 14px 0;

        h1 {
            grid-area: hd;
            font-weight: 500;
        }
        #delTrip{
            grid-area: del;
            margin: 12px 0 0 0;
        }
        img {
            grid-area: img;
            width: 100%;
        }
        .timebox {
            margin: 16px 0;
            grid-area: dte;
            font-size: 20px;
            .time {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        .weather {
            grid-area: wth;
            .weatherHeader {
                display: flex;
                justify-content: space-between;
                h1 {
                    font-size: 20px;
                }
                button {
                    width: 24px;
                    height: 24px;
                    padding: 0;
                }
            }
            #weatherBox {
                margin-top: 16px;
                display: none;

                .temp {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {

    #app{
        grid-template-areas: 
        "hd btn"
        "tr tr";
        grid-template-columns: 85% 15%;

        #planTripButton {
            margin: 0 14px;
        }
        .headline {
            grid-area: hd;
            font-weight: 900;
            margin-left: 14px;
        }

        #trip {
            padding: 2%;
            width: auto;
            margin: 14px;
            grid-template-areas:
                "hd del"
                "img dte"
                "img wth";
            grid-template-columns: 65% 35%;

            #delTrip{
                margin: 12px 0;
            }
    
            img {
                width: 95%;
            }
    
            .timebox {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: lightcyan;
                padding: 12px;
                margin: 0;
            }
            .weather {
                padding: 12px;
                background-color: lightcyan;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    
}
